body {
	background-color: #ECECEC; 
	margin: 0;
	font-family: 'Lobster Two', cursive;
}
header {
	margin: 20px 8%;
	border-bottom: 2px solid black;
	padding-bottom: 70px;
}
.logo {
	float: left;
}
nav {
	float: right;
}
nav ul li {
	display: inline-block;
	list-style-type: none;
	margin: 0 10px;

}
nav ul li a {
	text-decoration: none;
	padding: 0 5px;
	color: #4B4F4F;
}
.content {
	text-align: center;
	margin: 70px auto;
	margin-bottom: 20px;
	color: #4B4F4F;
}
.content h1 span {
	color: #EE9FAD;
}
.content p {
	margin-bottom: 50px;
}
.content img {
	width: 85%;
	border-radius: 30px;
}
.text {
	height: 100px;
	margin-bottom: 50px;
}
#about, #work {
	margin: 35px 8%;
	margin-top: 0;
}
#about h3, #work h3 {
	font-size: 23px;
	text-align: center;
	color: #EE9FAD;
}
#about p, #work p {
	color: #4B4F4F;
	font-size: 20px;
}
#about {
	float: left;
	width: 40%;
	margin-right: 0;
}

#work {
	float: right;
	width: 40%;
	margin-left: 0;
}
.work-sec {
	margin-top: 35px;
	/*clear: both;*/
	width: 90%;
	text-align: center;
	margin: 35px auto;
}
.work-sec ul {
	padding: 0
}
.work-sec ul li {
	display: inline-block;
	padding: 0px;
	margin: 20px 2%;	
}
.work-sec ul li div {
	width: 100%;
	height: 311px;	
	background-color: #fff;
	border-radius: 10px;
	text-align: center;
}
.work-sec ul li div img {
	border-radius: 10px 10px 0 0;
	margin-bottom: 0;
}
.work-sec ul li div h4, 
.work-sec ul li div p {
	margin-top: 5px;
	margin-left: 2%;
	text-align: left;

}
.work-sec ul li div h4 {
	color: #4B4F4F;
}
.work-sec ul li div p {
	margin-top: -20px;
	color: #EE9FAD;	
}
.work-sec h1 {
	color: #EE9FAD;	
	text-align: center;
}
footer {
	padding-top: 30px;
	background-color: #2D2D2D;
}
footer #contact{
	margin-left: 4%;
	margin-right: 0;
}
footer #contact h2 {
	margin-bottom: 0;
	color: #EE9FAD;	
}
footer #contact input {
	margin-top: 5px;
	width: 35%;
}
footer #contact textarea {
	margin-top: 5px;
	width: 35%;
}
footer #contact button {
	border: none;
	background: none;
	color: #fff;
	cursor: pointer;
	padding-bottom: 30px;
}
.social {
	margin:  0 10px;
	margin-top: 130px;
	float: right;
}
.social a {
	color: #2D2D2D;				
}
.social li {
	list-style-type: none;
	display: inline-block;
	margin: 10px;
}

.social .fa-facebook {
	background-color: 	#EE9FAD;	
	padding: 			5px 8px;
	border-radius: 		50%;
}
.social .fa-linkedin {
	background-color: 	#EE9FAD;	
	padding: 			5px;
	border-radius: 		50%;
}
.social .fa-twitter {
	background-color: 	#EE9FAD;	
	padding: 			5px;
	border-radius: 		50%;
}.social .fa-google-plus {
	background-color: 	#EE9FAD;	
	padding: 			5px;
	border-radius: 		50%;
}
@media (max-width: 1843px) {
	.work-sec ul li {
		margin: 20px 1%;
	}
}
@media (max-width: 1755px) {
	.work-sec ul li {

	}
}
@media (max-width: 1710px) {
	.text {
		height: 150px;
	}
}
@media (max-width: 1640px) {
	.work-sec ul li {
		margin: 20px 0.5%;
	}
}
@media (max-width: 1614px) {
	#about {
		margin-right: 0;
	}	
	#work {
		margin-left: 0;
	}
}
@media (max-width: 1554px) {
	.work-sec ul li {
		margin: 20px 3.5%;
	}
}
@media (max-width: 1500px) {
	footer #contact input, 
	footer #contact textarea {
		width: 60%;
	}
}

@media (max-width: 1300px) {
	.text {
		height: 190px;
	}
}
@media (max-width: 1180px) {
	#about, #work {
		width: 85%;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}
@media (max-width: 712px) {
	.logo img {
		width: 70%;
	}
	nav ul {
		padding: 0;
	}
	nav ul li {
		margin: 0 5px;
	}
	nav ul li a {
		font-size: 12px;
	}
}
@media (max-width: 695px) {
	.work-sec ul li {
    	margin: 20px 0.5%;
    }
    .text {
  	 	height: unset;
}
@media (max-width: 682px) {
	.social {
		margin-top: 0;
	}
}
@media (max-width: 590px) {
	footer #contact input, 
	footer #contact textarea {
		width: 95%;
	}
}
@media (max-width: 555px) {
	nav ul li a {
		font-size: 10px;
	}
}
@media (max-width: 525px) {
	.logo {
		float: none;
		display: inline;
	}
	.logo img {
		width: 35%;
	}
	header {
		padding-bottom: 0;
	}
	.content {
		margin: 22px auto;
	}
	.content p {
		margin-bottom: 10px;
	}
	.content img {
		border-radius: 10px;
	}
	.text {
		    height: unset;
	}
	#about, #work {
		margin-bottom: 0;
	}
	#about h3, #work h3 {
		margin-top: 0;
	}

}
@media (max-width: 450px) {
	.logo img {
    	width: 29%;
	}
	.content h1, 
	#about h3, 
	#work h3, 
	.work-sec h1, 
	footer #contact h2 {
		font-size: medium;
	}
	.content h1 {
    margin: 0 5px;
	}
	nav {
		display: none;
	}
	.logo img {
    width: 44%;
	}
	

}